# General
.DS_Store
.localized
__MACOSX/
.AppleDouble
.LSOverride
Icon[
]

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
makerworld_description_v1.md
makerworld_description_v2.md
MeteoModule_v1_Components.pdf
MeteoModule_v2_Components.pdf
components/ags10.jpg
components/aht20_bmp280.jpg
components/button.png
components/ens160_aht21.jpg
components/esp32c3.jpg
components/oled.jpg
components/screws.jpg
components/v1.jpg
components/v2.jpg
